
{% extends 'base.html'%}
{% block content %}
      {%if posts %}
          {% for post in posts %}
          <div class="post">
          <div class="row">
            <div class="col-md-8 post">
              <p class="date"> published : {{ post.pub_date}}</p>
              <h1> <a href="{% url 'detail' post.id %}">{{post.title}}</a></h1>
              <p>{{post.text|truncatechars:50}}</p>
            </div>
          </div>
          <hr>
          {% if user.is_authenticated %}
            <button class="btn btn-secondary"> <a href="{% url 'add_comment' pk=post.id %}">Add Comment </a></button>
            {% endif %}
            {% for comment in post.comments.all %}
            <div class="comment"></div>
              <p class="date"> {{ comment.created_date}}</p>
              <strong>{{comment.author}}</strong>
              <p>{{comment.text|truncatechars:50}}</p>

              </div>

              {% empty %}
              <p>No comments </p>


            {% endfor %}
          </div>
          {% endfor %}
      {% endif %}

{% endblock %}
