.page-header{

  background: #f5b800;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
}
.post-form-blog, login-form,signup-form{

  width: 70%;
}


.post-form-blog textarea{
  width: 100%;

}

.black{

  color: black;
}

.post-form-blog .btn-primary{
  float: right;
}
.top-right{
  color:white;
  margin-right: 20px;
  float: right;
  font-size: 26pt;

}

.page-header h1 a{
  color: white;
  text-decoration: none;
}

h1,h2,h3,h4 a{

  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: black;

}

.content{
  margin-left: 40px;
}

.date{
  font-size: 12px;
  color: #87857f;
}
.post{
  width: 80%;
  margin-bottom: 70px;
}
.post h1 a{
color: black;


}
.comment{
  margin: 20px 20px 20px 20px;
}
