.page-header{

  background: #f5b800;
  padding: 20px 20px 20px 20px;
  margin-bottom: 20px;
}

.post-form-blog textarea{
  width: 100%;

}

.post-form-blog .btn-primary{
  float: right;
}

.page-header h1 a{
  color: white;
  text-decoration: none;
}

h1,h2,h3,h4 a{

  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: black;

}

.content{
  margin-left: 40px;
}

.date{
  font-size: 12px;
  color: #87857f;
}
.post{
  margin-bottom: 70px;
}
.post h1 a{
color: black;


}
